:root {
  --white: #fff;
  --off-white: #f1ede4;
  --black: #000;
  --off-black: #171614;
  --dark-brown: #291e16;
  --brown: #3a2618;
  --red-brown: #58332e;
  --red: #754043;
  --light-red: #946c6c;
  --tan: #b39794;
  --dark-greeen: #37423d;
  --green: #146843;
  --light-grey: rgb(200, 200, 200);
  --grey: rgb(133, 133, 133);
  --dark-grey: rgb(79, 79, 79);
}

body {
  font-family: "Cormorant Garamond", serif;
  background-color: var(--white);
  line-height: 1.6;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

/* Mobile-first approach */
.container {
  width: 100%; /* Full width on small screens */
  max-width: 700px; /* Limit width on larger screens */
  margin: auto;
  padding: 0 20px; /* Add some space on the sides */
}

header,
h1,
h2 {
  color: var(--black);
  text-align: center; /* Center align headings */
  margin: 20px 0; /* Add some spacing */
}

hr {
  border: 1px solid var(--black);
  border-radius: 5px;
}

a {
  outline: none;
  text-decoration: none; /* Remove default underline */
  cursor: pointer;
  color: var(--black);
  transition: background-color 0.3s, border-bottom-color 0.3s; /* Smooth transition effect */
}

a:hover {
  background-color: var(--light-grey);
  border-bottom: 1px solid var(--dark-grey);
  border-radius: 3px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  background: var(--off-white);
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}

/* Media query for larger screens */
@media (min-width: 768px) {
  body {
    padding: 0; /* Reset padding on larger screens */
  }

  .container {
    padding: 0; /* Reset padding on larger screens */
  }

  section {
    padding: 40px 0; /* Add more spacing */
  }
}
