:root {
  --white: #fff;
  --off-white: #f1ede4;
  --black: #000;
  --off-black: #171614;
  --dark-brown: #291e16;
  --brown: #3a2618;
  --red-brown: #58332e;
  --red: #754043;
  --light-red: #946c6c;
  --tan: #b39794;
  --dark-greeen: #37423d;
  --green: #146843;
  --light-grey: rgb(200, 200, 200);
  --grey: rgb(133, 133, 133);
  --dark-grey: rgb(79, 79, 79);
}

body {
  font-family: "Cormorant Garamond", serif;
  background-color: var(--white);
  line-height: 1.6;
}

section {
  height: auto;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
h2 {
  color: var(--black);
}

h1 {
  text-align: center;
  margin: 20px 0;
}

hr {
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 100%;
}

small {
  display: block;
  margin-left: 20px; /* Adjust the value as needed */
}

a {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  color: var(--black);
  transition: background-color 0.3s, border-bottom-color 0.3s;
}

a:visited {
  color: var(--dark-grey);
}

a:hover {
  border-bottom: 1px solid;
  background: var(--light-grey);
  border-radius: 3px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 0.75em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--off-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}

